<!-- Header -->
<section id="header" class="skel-layers-fixed">
    <header>
        <span class="image avatar"><img src="{{ site.baseurl }}/images/avatar.jpg" alt="" /></span>
        <h1 id="logo"><a href="{{ site.baseurl }}/">Harsh Pal</a></h1>
        <p>When you have lot of talent but your <br />
                introvert nature does not allow to showcase it</p>
    </header>
    <nav id="nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog">Blog</a></li>
     <!--<li><a href="{{ site.baseurl }}/Poems">Some Poems</a></li>-->   
            <li><a href="/contact">Contact</a></li>
            
        </ul>
    </nav>
    <footer>
        <ul class="icons">
                    <!--<li><a href="https://twitter.com/deveshanand18" target="_blank" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                    <li><a href="https://www.instagram.com/dev_anand_here/" target="_blank" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="https://github.com/devesh-anand" target="_blank" class="icon brands fa-github"><span class="label">Github</span></a></li>  -->
                    <li><a href="mailto:harshpa324@gmail.com" target="_blank" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
        </ul>
    </footer>
</section>

